# Dependencies
node_modules

# Build output
dist

# Development files
*.log
*.md
.env
.env.*

# IDE
.vscode
.idea
*.swp
*.swo

# Test
coverage
*.test.ts
*.spec.ts
tests

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose*.yml
